*{
    margin:0;
    padding:0;
    overflow-x:hidden;   /* ini ada di CSS kamu */
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    overflow-x:hidden;
}

body{
    background:linear-gradient(
        135deg,
        #111827,
        #1f2937
    );
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: white;
    font-family: monospace;
}

.container{
    width:90%;
    max-width:1500px;
    margin:0 auto;
    text-align:center;
}

.back{
    width:1000px;
    border-radius:20px 20px 0 0;
    margin:0 auto;
}

/* Wrapper pembungkus video + topeng */
.video_wrapper{
    position:relative;
    width:100%;        /* ganti dari 850px ke 100% */
    max-width:850px;    /* 850px jadi BATAS MAKSIMUM, bukan ukuran fixed */
    margin:40px auto 80px;
    overflow-x: visible;
}

.Topeng_kanan{
    width:35%;
    height:auto;
    transform:rotate(-25deg) scaleX(-1);
    position:absolute;
    top:-30%;      /* di atas pojok kanan card, bukan 150% */
    right:-10%;
    z-index:10;
}

.Topeng_kiri{
    width:35%;
    height:auto;
    transform:rotate(-25deg);
    position:absolute;
    bottom:-15%;   /* di bawah pojok kiri card */
    left:-13%;
    z-index:10;
}

.youtube-container{
    width:100%;
    max-width: 750px;
    margin: 40px auto 80px;
}

.youtube-container iframe{
    width:100%;
    aspect-ratio:16/9;
    border:none;
    border-radius:20px;
}

.links{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.btn{
    display:flex;
    align-items:center;
    justify-content:center;
}

.btn img{
    width:100%;
    max-width:550px;
}

/* ===== MODE HP ===== */
@media (max-width: 768px){
    .back{
        width:100%;   
        border-radius:0 0 0 0;
    }
    .links{ 
        gap:20px; 
        width:85%;     
        margin:0 auto;    
    }
    .btn img{ 
        max-width:100%;    
    }
    .video_wrapper{ 
        max-width:75%; 
        margin:20px auto 30px;   
    }
    .Topeng_kanan{ width:35%; }
    .Topeng_kiri{ width:35%; }
    .youtube-container{ 
        max-width:90%; 
        margin:20px auto 30px;   
    }

@media (max-width: 480px){
    .back{ width:100%; }
    .video_wrapper{ max-width:100%; }
    .Topeng_kanan{ width:35%; }
    .Topeng_kiri{ width:35%; }
    .youtube-container{ max-width:85%; }
}



